.u-prevent-scroll {
  height: 100%;
  overflow: hidden;
}

.u-relative {
  position: relative;
}

.u-clearfix {
  @include clearfix();
}

.u-overflow {
  overflow: hidden;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-pull-right--md {
  @include media-above("md") {
    float: right;
  }
}

.u-table {
  display: table;
  width: 100%;
  height: 100%;
}

.u-table-fixed {
  table-layout: fixed;
}

.u-flex {
  display: flex;
}

.u-hidden {
  visibility: hidden;
}

.u-link-ease {
  transition: $base-transition;
}

.u-link-hover-underline {
  border-bottom: 1px solid transparent;
  &:hover,
  &:focus,
  &:active {
    border-bottom: 1px solid;
  }
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.u-sr-only-focusable {

  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
  }
}
