/* Text Align */
.u-text-center--md-down {
  @include media-below("md") {
    text-align: center;
  }
}

.u-text-center--sm-up {
  @include media-above("sm") {
    text-align: center;
  }
}

.u-text-right--md-down {
  @include media-below("md") {
    text-align: right;
  }
}

.u-text-center--lg-down {
  @include media-below("lg") {
    text-align: center;
  }
}

.u-text-center--sm-down {
  @include media-below("sm") {
    text-align: center;
  }
}

.u-text-center--xl-down {
  @include media-below("lg") {
    text-align: center;
  }
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}



/* Text Styles */

.u-ellipsis {
  max-width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.u-text-base {
  font-family: $base-font;
}

.u-text-heading {
  font-family: $base-font-heading;
}

.u-text-lowercase {
  text-transform: lowercase;
}

.u-text-uppercase {
  text-transform: uppercase;
}



/* Text Size */

.u-text--xs {
  font-size: $text-xs;
}

.u-text--sm {
  font-size: $text-sm;
}

.u-text--base {
  font-size: $text-base;
}

.u-text--md {
  font-size: $text-md;
}

.u-text--lg {
  font-size: $text-lg;
}

.u-text--xl {
  font-size: $text-xl;
}

.u-text--xxl {
  font-size: $text-xl;
}

.u-text-gray {
  color: $brand-gray;
}


.u-body-copy{
  font-weight: 400;
  font-size: $text-base-bump;
  line-height: 150%;
  letter-spacing: 0.1px;
  @include media-below("md"){
    font-size: $text-base-bump-mob;
    line-height: 162%;
  }
}

.u-body-copy-sm{
  font-weight: 400;
  font-size: $text-base;
  line-height: 167%;
  letter-spacing: 0.1px;
  @include media-below("md"){
    font-size: $text-base-bump-mob;
    line-height: 142%;
  }
}


/* Text Weight */
.u-text-light {
  font-weight: 300;
}

.u-text-normal {
  font-weight: 400;
}

.u-text-semi-bold {
  font-weight: 500;
}

.u-text-bold {
  font-weight: 600;
}

.u-text-superbold {
  font-weight: 800;
}
