.u-text-center {
  text-align: center;
}

.u-text-heading {
  font-family: $base-font-heading;
}

.u-body-copy {
  font-weight: 400;
  font-size: $text-base-bump-mob;
  line-height: 150%;
  letter-spacing: 0.1px;
  @include media-above("md") {
    font-size: $text-base-bump;
    line-height: 162%;
  }
}

.u-text-bold {
  font-weight: 600;
}
