.text-image.text-image--alt-circle {
  margin-bottom: $space-xl;
}

.text-image__item {
  display: flex;
  flex-direction: column;
  margin: -$space;
  position: relative;

  @include media-above("lg") {
    flex-direction: row;
    align-items: flex-start;
    margin: -$space-xl;
    .video__video {
      position: absolute;
      margin-bottom: 20px;
      right: 0;
      top: 0;
      width: 50vw;
      height: 100%;
    }
  }

  .text-image__text,
  .text-image__image {
    width: 100%;
    padding-bottom: $space;
    position: relative;

    @include media-above("lg") {
      width: 50%;
    }
  }

  .text-image__image {
    @include media-above("lg") {
      margin-top: 15px;
      min-height: 605px;
    }
  }

  .text-image--alt & {
    min-height: 605px;
    margin: 0;
    padding-bottom: 250px;
    @include media-above("lg") {
      padding-bottom: 170px;
    }

    .text-image__img {
      width: 100%;
      position: relative;
      @include media-above("lg") {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: auto;
        width: 50vw;
        height: 100%;
        min-height: 605px;
        object-fit: cover;
      }
    }

    &:nth-child(even) .text-image__img {
      @include media-above("lg") {
        left: 0;
        right: auto;
      }
    }

    &:nth-child(even) .text-image__text {
      padding: 0 $space-md-bump;
      @include media-above("lg") {
        padding: 0;
        padding-right: $space-xl;
      }
    }

    .text-image__title  {
      margin-bottom: $space-xxs;
    }

    .text-image__stat {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: $space-sm 0;
      color: red;
      & > div {
        padding: 0 $space-sm;
        @include media-above("lg") {
          padding: 0 $space;
        }
      }
      .stat {
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-family: $second-font;
      }
      .text {
        font-family: $second-font;
      }
    }

    .text-image__text {
      @include media-above("lg") {
        padding: 0;
        padding-left: $space-xl;
      }

      // > div {
      //   @include media-above("lg") {
      //     max-width: 460px;
      //   }
      // }
    }

    .wysiwyg-editor p {
      @include media-above("md") {
        font-size: $text-base-bump;
      }
    }

    .button-group {
      margin-top: $space-sm;
    }
  } 
}
