// Vars
$btn-border-radius        : $border-radius-lg;
$btn-default-bg           : $brand-green;
$btn-default-color        : $brand-white;

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $btn-default-bg;
  border-radius: $btn-border-radius;
  border: 2px solid transparent;
  color: $btn-default-color;
  cursor: pointer;
  display: inline-block;
  font-family: $second-font;
  font-weight: 600;
  line-height: 1;
  padding: $btn-padding;
  text-align: center;
  transition: $base-transition;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: $letter-spacing-lg;
  text-transform: uppercase;
  @include media-below("md") {
    font-size: $text-base-mob;
    padding: $btn-padding-mob;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: transparent;
    border: 2px solid transparent;
    color: $btn-default-bg;
  }

  &[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid $brand-primary;
  }
}

.hamburger {
  &:before {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $brand-green;
    position: absolute;
    left: -$space;
    bottom: -25px;
  }
}

