.footer {
  background-color: $bg-footer;
  padding: $space-md 0;
  font-family: $second-font;
  @include media-above('md') {
    padding: $space-lg 0;
  }
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include media-above('md') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__text {
  padding: $space;
  font-size: $text-xs-bump;
  a {
    display: block;
    color: $brand-light-green;
    letter-spacing: 0.2px;
    padding: $space-xs 0 0;
    font-size: $text-xs;
  }
  @include media-above('md') {
    font-size: $text-base;
    a {
      font-size: $text-xs-bump;
    }
  }
}

.footer__right {
  &--mobile {
    margin: 0 0 $space;
  }

  ul:not(.sub-menu) {
    a {
      font-weight: 600;
      font-size: $text-base;
      line-height: 100%;
      letter-spacing: 1.3px;
      text-transform: uppercase;
    }
  }
  ul {
    display: flex;
    margin: 0 -1 * $space-xs;
    @include media-below("md") {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      flex: 1;
      line-height: 1;
      padding: 0 $space-xs;
      @include media-below("md") {
        width: 48%;
        flex: none;
        margin: $space-xxs 0;
      }
      @include media-below("sm") {
        width: 100%;
      }
    }
    ul.sub-menu {
      flex-direction: column;
      margin: $space-xs 0 0;
      @include media-below("md") {
        display: none;
      }
      li {
        line-height: 157%;
        padding: 0;
        a {
          color: $brand-light-green;
          font-weight: 500;
          font-size: $text-xs-bump;
          line-height: 147%;
          letter-spacing: 0.2px;
          text-transform: none;
          &:hover {
            color: $brand-green;
          }
        }
      }
    }

    .dropdown-toggle {
      display: none;
    }
  }
}

.footer__content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: $space-lg 0 0;
}

.footer__mobile {
  .logo {
    text-align: center;
    margin: 0 0 $space-sm;
    img {
      max-width: 220px;
      width: 100%;
      height: auto;
    }
  }
  &__bottom {
    display: flex;
    @include media-below("sm") {
      flex-direction: column;
    }
  }
  &__box {
    flex: 1;
    @include media-below("sm") {
      margin: $space-xxs 0;
    }
  }
}
