.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: $base-transition;
  @include media-above('lg') {
    background-color: $brand-white;
  }

  .admin-bar & {
    top: 32px;
  }
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: $header-height-mobile;
  position: relative;
  transition: $base-transition;

  @include media-above("lg") {
    min-height: $header-height-desktop;
  }
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.headroom--not-top {
  background-color: transparent;
  @include media-above("lg") {
    background-color: $brand-black;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    .header__content {
      min-height: 43px;
      transition: $base-transition;
    }
    .nav--main .nav__list .menu_item a {
      color: $brand-white;
      &:hover,
      &:focus {
        color: $brand-light-green;
      }
    }
  }
}

.js-header-wrapper {
  position: relative;
}
