.logo {
  display: block;
  height: 56px;
  z-index: 200;
  @include media-above("lg") {
    height: 75px;
  }

  img {
    height: 56px;
    @include media-above("lg") {
      height: 75px;
    }
  }
}
