.logo {
  display: block;
  height: 56px;
  z-index: 200;

  img {
    height: 56px;
  }

  &.header-nav {
    opacity: 0;
    transition: $base-transition;
    .mobile-nav-active & {
      opacity: 1;
      transition: $base-transition;
    }

    @include media-above('lg') {
      display: none;
    }
  }
}
